<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/v/css/foundation.min.css">
    <link rel="stylesheet" href="/static/v/css/app.css">

    <meta name="description" content="Enigma Jobs é um site de empregos para profissonais a Tecnologia da Informação e Exatas. Que tem o objetivo de ser simples e eficiente" />
    <meta name="keywords" content="job, careers, work, free, IT, development, programmer" />
    <meta name="title" content="Enigma Jobs - Carees" />
    <title>Enigma Jobs - Carees</title>

  </head>
  <body>

    <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    %include('base_top_bar.html') 

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="row column">
                 %include('script.html')

        <br>


          <h1 align="center">Sobre</h1>
        <div class="row">
          <div class="small-6 columns">
          <p>
            Enigma Jobs é um site de empregos para profissonais a Tecnologia da Informação e Exatas <br>em busca de novas oportunidades. EnigmaJobs é Gratuito e de Código Aberto
          </p>
        <!--pagination-->
        <h3>The Creator</h3>
        <p>
          Tiago Vizoto is brazilian, 23 old year, and live in Curitiba, PR. <br>
          He was studied System analysis in Centre Universian Campus of Andrade (Uniandrade), but him not concluin.
          Currently James(Tiago) is working on Subway as attendant.
        </p>
          </div>
          <div class="small-5 columns">
            <img class="thumbnail" src=" /static/img/foto.jpg">
          </div>
      </div>
    </div>

  <!-- close wrapper, no more content after this -->
  </div>
  </div>







  <!--
    <script src="/static/v/js/vendor/jquery.js"></script>
    <script src="/static/v/js/vendor/what-input.js"></script>
    <script src="/static/v/js/vendor/foundation.js"></script>
    <script src="/static/v/js/app.js"></script>-->
  </body>
</html>
