<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/v/css/foundation.min.css">
    <link rel="stylesheet" href="/static/v/ss/app.css">

    <meta name="description" content="EnigmaJobs is website from Careers." />
    <meta name="keywords" content="job, careers, work, free, IT, development, programmer" />
    <meta name="title" content="Enigma Jobs - Carees" />
    <title>Enigma Jobs - Contact</title>

  </head>
  <body>

    <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    %include('base_top_bar.html') 

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="row column">
                 %include('script.html')

        <br>


          <h1 class="center">Contato</h1>
        <form action="/contactSend" method="post">
      <div class="row">
        <div class="medium-6 columns">
          <label>Nome
            <input name="name" type="text" placeholder="Nome">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>Seu Email
            <input type="email" name="email" placeholder="email@email.xyz">
          </label>
        </div>

      </div>
        <div class="row medium-12 columns">
          <label>Messagem
          <textarea required name="message" rows=5 placeholder="None"></textarea>
          </label>
        </div>
        <button type="submit" class="success expanded button"><b>ENVIAR</b></button>

    </form>
        <!--pagination-->

      </div>
    </div>

  <!-- close wrapper, no more content after this -->
  </div>
  </div>





  </body>
</html>
