<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/v/css/foundation.min.css">
    <link rel="stylesheet" href="/static/v/css/app.css">

    <meta name="description" content="Publique sua vaga na EnigmaJobs. Enigma Jobs é um site de empregos para profissonais a Tecnologia da Informação e Exatas. Que tem o objetivo de ser simples e eficiente" />
    <meta name="keywords" content="job, careers, work, free, IT, development, programmer,vagas,programacao, desenvolvimento" />
    <meta name="title" content="Publique sua Vaga - Enigma Jobs " />
    <title>Enigma Jobs - New Job</title>
    <style media="screen">
      label{
        font-size: 16px;

        font-weight: bold;
      }

    </style>
  </head>
  <body >
   <div class="off-canvas-wrapper">


  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas-content" data-off-canvas-content>

    <!-- off-canvas title bar for 'small' screen -->
  %include('base_top_bar.html')
    <!-- original content goes in this container -->

      <div class="row column muhaha">
        <br>
          <h3 class="center">Edit {{job['_id']}}</h3><br>
        <form action="/manager/update/{{job['_id']}}" method="post" >
      <div class="row">
        <div class="medium-6 columns">
          <label>Titulo
            <input type="text" value="{{job['title']}}" required name="title" placeholder="Programmer COBOL">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>Localização
            <input type="text"  value="{{job['location']}}" required name="location" placeholder="Curitba, PR , BRASIL">
          </label>
        </div>

      </div>
      <div class="row">
        <div class="medium-6 columns">
            <label>Seu email
              <input type="email" value="{{job['business']['email']}}" required name="email" placeholder="E-mail">
            </label>
          </div>
          <div class="medium-3 columns">
            <label>Nome da Empresa
              <input type="text" value="{{job['business']['name']}}" name="business" required placeholder="Ghostbusters Inc.">
            </label>
          </div>
          <div class="medium-2 columns">

              <label>Data de expiração
                <input name="date_valid"  value="{{job['date_valid']}}" id="" required type="date">
              </label>
            </div>
      </div>
        <div class="row">
          <div class="medium-4 columns">

              <label>Salário
                  <select name="salary" >
                    <option value="<500"> < $500</option>
                    <option value="500/1000">$500 - $1000</option>
                    <option value="1000/2000">$1000 - $2000</option>
                    <option value="2000/3000">$2000 - $3000</option>
                    <option value="3000/8000">$3000 - $8000</option>
                    <option value="10000">$10000 ></option>


                  </select>
                </label>

          </div>
          <fieldset class=" medium-4 columns">
            <legend>Moeda</legend>
            <input type="radio" name="coin" value="USD" id="pokemonRed"  required><label for="pokemonRed">USD</label>
            <input type="radio" name="coin" value="BTC/USD" id="pokemonYellow"><label for="pokemonYellow">BTC/USD</label>
          </fieldset>
           <fieldset class="medium-4 columns">
            <legend>Pagamento por</legend>
            <input type="radio" name="period_pay" value="Hora" required><label for="pokemonRed">Hora</label>
            <input type="radio" name="period_pay" value="Mesal" id="pokemonBlue"><label for="pokemonBlue">Mês</label>
            <input type="radio" name="period_pay" value="Semanal" id="pokemonYellow"><label for="pokemonYellow">Semana</label>
            <input type="radio" name="period_pay" value="Anual" id="pokemonYellow"><label for="pokemonYellow">Ano</label>
          </fieldset>
        </div>
            <div class="row  medium-12 columns">
            <label>Link Externo para a Vaga ( É opcional. Você não receberá currículos no seu email caso preencha este campo )
              <input type="text" value="" name="linkjob" placeholder="http://empresa.com/vaga/programador_java">
            </label>
          </div>
        <div class="row medium-12 columns">
          <label>Descrição da Vaga
          <textarea name="description" required rows=5 >{{job['description']}}</textarea>
          </label>
        </div>
          <button type="submit" class="success  button"><b>Salvar</b></button>

    </form>
        <!--pagination-->


      </div>
    </div>

  <!-- close wrapper, no more content after this -->
  </div>
  </div>


  </body>
</html>
